.homepage {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    .customCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
